apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-4cpx
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-4cpx
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-4cpx
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-4cpx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-4cpx
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-myrc-tenant/rhtap-demo-app/hacbs-test-project-4cpx@sha256:7275e902c76c337ad6e09bb34bf3f70c65fc267b5c1124d94f002f24fde23021
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
